
*{
    margin:0;
    padding:0;
}


button{
    cursor:pointer;
}

a{
    cursor:pointer;
    text-decoration: none;
    color: rgb(96, 93, 93);

}



body{
    font-family: 'Arvo', serif;
}


#navBar{

    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 10%;
    background:rgb(67, 65, 65);
    z-index: 10;
}



main{
 position:absolute;
 top:10%;
 left:0;
 height: 90%;
 width: 100%;
}



/*

  see users

*/


#usersLogo{

    position: absolute;
    top: 5%;
    left: 22.25%;
    height: 20%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.userImg{

    height: 75%;
    width: auto;

}



#findUserInput{ 
    position: absolute;
    top: 30%;
    height: 12.5%;
    width: 35%;
    left: 30%;
    border-radius: 10px;
    border: 1px solid rgb(0,0,0,0.15);
    outline:none;
    padding-left:1%; 
    font-size: 1vw;
    z-index: 2;
}



#foundUsers{
    position: absolute;
    top: 43%;
    left: 30%;
    display:none;
    flex-direction: column;
    justify-content: flex-start;
    width: 34.75%;
    border: 1px solid rgb(0,0,0,0.15);
    border-radius: 5px;
    z-index: 1;

}



#usersDiv{
    position: absolute;
    top: 35%;
    left: 15%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
}

.usersDivA{
    height: 12.5vh;
    width: 100%;
    margin-top: 1.5%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    background: rgba(196, 196, 196, 0.75);
    border-radius: 10px;
    z-index:1;
    display: flex;
    justify-content: space-between;
}


.foundUsersA{
    height: 10vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    background: white;
    z-index: 2;
    
}


.foundUsersA:hover{
    background: rgb(230, 224, 224);
}



.projectsContainerDiv{

    position: absolute;
    left:27.5%;
    top: 10%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    align-items: center;

}

.projectsContainerDivA{
    margin-top:0.5vh;
    height: 10vh;
    width: 95%;
    background: rgb(220, 213, 213);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 7.5px;
    padding-left: 2.5%;
    padding-right: 2.5%;

}

.nextLastButton{
    height: 50%;
    width: 10%;
}


#pendingProjectsButton{

    background: rgb(210, 204, 204);
  

}

#doneProjects{
    display: none;
}




#projectSideNav{
    position: fixed;
    left: 1.5%;
    top: 12.5%;
    height: 80%;
    width: 20%;
    background: rgb(220, 213, 213);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
}



.projectSideNavA{
    margin-top:10%;
    height: 20%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.projectSideNavA:hover{
   
    background: rgb(210, 204, 204);

}



#paymentButtons{
    position: absolute;
    top: 0.5%;
    left: 45%;
    height: 10%;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}








/*

 see project

*/



#seeProjectContainer{
    position: absolute;
    top: 10%;
    left: 17.5%;
    height: 55%;
    width: 65%;
    display: flex;
    flex-direction: column;
 
 }
 
 
 #seeProjectContainerA{
     height: 30vh;
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
 }
 
 
 #seeProjectContainerB{
 
     height: 10vh;
     width: 100%;
     display: flex;
     flex-direction: column;
 }
 



#paymentInfoDiv{
    height: 85%;
    width: 49%;
    background:rgb(220, 213, 213);
    display: flex;   
    border-radius: 10px;
}


#paymentInfoDivA{
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
}


#paymentInfoDivAA{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25vw;
    color: rgb(72, 72, 72);

}

#paymentInfoDivAB{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
}


#paymentInfoDivB{
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
}


#paymentInfoDivBA{

     height: 50%;
     width: 100%;
     display: flex;
     flex-direction: column;

}


#paymentInfoDivBAA{

    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#paymentInfoDivBAB{
    
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


#paymentInfoDivBB{
    
    height: 50%;
    width: 100%;

}


.projectLinkImg{

    height: 70%;
    width: auto;

}

.paidProjects{

    display:none;
}


#seeProjectContainerAB{
    height: 85%;
    width: 49%;
    background:rgb(220, 213, 213);
    display: flex;   
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}


.actionsDiv{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}


.actionsDivA{
    margin-top: 0.5%;
    height: 10vh;
    width: 100%;
    background: rgb(220, 213, 213); 
}








#newActionFormContainer{

    position: absolute;
    top:2.5%;
    left: 2.5%;
    height: 15%;
    width: 15%;

}



.seeProjectContainerABA{

    height: 30%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.seeProjectContainerABB{

    height: 30%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

}



.seeProjectContainerABAA{

    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}





/*
   cart
*/






#payment-Form{
    
    position: absolute;
    top:20%;
    left : 30%;
    width: 45%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius:12.5px;

}



.formRow{

    height: 30%;
    width: 90%;
}


#infoDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 40%;
    width: 95%;
}

#infoDivA{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  
  #infoDivB{
      height: 80%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      opacity: 0.3;
  }
  
  .infoDivBA{
      
      height: 40%;
      width: 100%;
      border-radius: 10px;
      border:none;
      padding:2.5%;
      outline:none;
      background: rgb(104, 103, 103);

  
  }


#creditCardDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 40%;
    width: 95%;
}




/*

 Register

*/

#registerForm{
    position: absolute;
    border-radius: 10px;
    top: 15%;
    width: 40%;
    height: 50%;
    left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.registerFormA{

    height: 12.5%;
    width: 100%;
    border-radius: 5px;
    border-color: rgb(0,0,0,0.35);
  
}



/*

  login

*/

#loginPageContainer{

    position: absolute;
    border-radius: 10px;
    top: 15%;
    width: 35%;
    height: 50%;
    left: 32.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}


#loginForm{

    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}


.loginFormA{

    width: 100%;
    height: 35%;
    border-radius: 10px;
    border-color: rgb(0,0,0,0.35);

}


#loginBtn{
    width: 100%;
    height: 20%;
    border-radius: 10px;
    border-color: rgb(0,0,0,0.35);
}

#forgottenPassLink{
    position: absolute;
    border-radius: 10px;
    top: 70%;
    left: 32.5%;
}



#errorDiv{
    position: absolute;
    border-radius: 10px;
    top: 72.5%;
    left: 32.5%;

}



/*
  
  new project

*/



#newProjectContainer{

   position: absolute;
   top: 27.5%;
   left: 30%;
   height: 50%;
   width: 40%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}


#projectForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    width: 100%;
}


#projectForm input{
  height: 45%;
  width: 100%;
  border-radius: 10px;
  border:none;
}


#findProjectUserDiv{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 12.5%;
    width: 100%;
}



#findProjectUserDiv input{

  height: 100%;
  width: 82.5%;
  border-radius: 10px;
  border:none;

}


#newProjectInput{
    height: 45%;
    width: 100%;
    border:none;
}

#findProjectUserDiv button{

    height: 100%;
    width: 15%;

}


#createProjectButton{

    width: 100%;
    height: 15%;
    border-radius: 10px;
    background: rgb(90, 90, 211);
    color: white;
    border: none;

}



#projectTopLogo{
    position: absolute;
    top: 2.5%;
    left: 35%;
    height: 20%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#topProjectImg{
     height: 62.5%;
     width: auto;
}